.venv

/UiProject/__pycache__
/versions/base_evolutionary_algorithm/__pycache__
/versions/base_evolutionary_algorithm/modules/__pycache__

/versions/first_musical_algorithm/__pycache__
/versions/first_musical_algorithm/modules/__pycache__